*{
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    box-sizing:border-box;
}
body{
    position: relative;
    margin: 0;
}
header{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: white;
    height: 105px;
    background-image: linear-gradient(
      #909090,
      #909090 80%,
      #aaaaaa );
     
      
}
.header{
    width: 900px;
    margin: auto;
    text-align: left;
   
}
.header p{
    display:inline-block;
    position: relative;
    top:10px;
}
.header p>img{
    position: relative;
    top:5px;
}
input{
    font-size: 13.3px;
}
.menu{
    position: absolute;
    bottom: 0px;
    
}
#logo{
    position: absolute;
    right: -20px;
    bottom: -20px;
}
ul{
    margin-right: 0;
    padding-right: 130px;
    list-style: none;
    
    /* text-align: center; */
    
}
li{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;    
    /* padding:7.5px; */
}
li>a{
    text-decoration:none;
    padding:7.5px;
}
li>a>img{
    position: relative;
    top: 3px;
}
li>img{
    position: relative;
    top:10px;
}
main{
    margin-top: 20px;
    height: 670px;
    
}

div.row{
    margin: auto;
    position: relative;
    text-align: center;
    
}
div.img{
    position: relative;
    display: inline-block;
    margin: 6px 4px;
    /* background-color: blueviolet; */

}
div.img2{
    position: relative;
    margin: 0;
    display: inline-block;
    /* padding:4px; */
    
}
img.top{
    
    border-bottom-right-radius: 30px 30px;
    height: 355px;
    width: 293px;
}
img.bottom{
    
    width: 293px;
    height: 220px;
}
div.inside{
    position:absolute;
    background-color: rgba(150,150,150,0.8);
    border-bottom-right-radius: 30px 30px;
    right: 5px;
    bottom: 10px;
    width: 248px;
    height: 97px;
    padding: 10px;
    color:#fff;
    text-align: right;
    font-weight: bold;
}
h3{
    font-size: 14px;
    padding-block-start: 0;
    margin: 0;
    opacity: 1;
}
p{
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    opacity: 1;
     
}
div.link{
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
    left: 6px;
    bottom: 3px;
}
a>img{
    /* filter: invert(100%); */
}
a{
    color:white;

}
h2{
    color: #575757;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 30px;
}
.commercial{
    position: absolute;
    top: 70px;
    right: 30px;
}
span{
    display: block;
    
}
span a{
    color:#72716d;
    font-size: 13px;
    text-decoration: underline;
       
}
span img{
    padding-right: 5px; 
}
#map{
    position: absolute;
    left: 30px;
    bottom: 0px;
}
div.link2{
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
    left: 20px;
    bottom: 15px;
}
div.link2>a:visited{
    color: #575757;
}

.dropdown {
    position: relative;
  }
  

.dropdown-content {
    position: absolute;  
    /* background-color: #ccc; */
    background-image: linear-gradient(
        #aaaaaa ,
        #909090 ,
        #909090 80%); 
    right: 10px;
    top: 25px;
    display: none;
    z-index: 5;
    text-align: right;
    padding: 4px;    
  }
  .dropdown-content > a {
      
      text-decoration: none;     
  }
  .dropdown-content > span{
    border: 0.4px solid rgb(185, 185, 185);
    margin: 0;
    padding: 0;
  }
  .dropdown:hover > .dropdown-content {
    display: block;
  }
  .dropdown:hover>a{
    color: rgb(0,92,160);
}
.dropdown-content>a:hover{
    color: rgb(0,92,160);
}
footer{
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(
        #aaaaaa ,
        #909090 ,
        #909090 80%); 
        height: 38px;
        width: 100%;
        /* display: inline-block; */
}
.footer{
      width:900px;
      margin: auto;
      font-size: 14px;
      padding-top: 7px;
      
}
.footer a{
    text-decoration: none;
}
#redfooter{
    color:red;
}
.footer img{
    position: relative;
    top:5px;
}

#sidemenu{
    position: absolute;
    top: 30px; 
       
}
.sidebutton{
    position: relative;
    width: 122px;
    height: 36px;
    background-image: linear-gradient(
        white,
        rgb(204,204,204));
    margin-left: 10px;
    padding-top: 8px;
    border-top: 1px solid rgb(204,204,204);
    color:rgb(0,92,160);
}
.sidebutton>a{
    color: rgb(80, 80, 80);
}




.main{
    position: relative;
    width: 900px;
    height: 1200px;
    margin: auto;
    
}
#formCol{
    position: absolute;
    width: 440px;
    top: 50px;
    right: 140px;
}
#colheader{
    font-size: 18px;
    font-weight: bold;
    color: grey;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
#form{
    position: absolute;
    width:385px;
    height: 357px;
    background-image: linear-gradient(
        #ffffff,
        #ececec);
        font-size: 12px;
        border: 1px solid grey;
        border-top-right-radius: 30px 30px;
        
}
.formheader1{
    position: relative;
    color:rgb(0,92,160);
    font-size: 15px;
    font-weight: bold;
    right:20px;
    top: 10px;
}
#formheader2{
    position: relative;
    color: rgb(109,109,109);
    font-weight: bold;
    width:350px;
    right:20px;
    top: 10px;

}
#formheader3{
    position: relative; 
    right:20px;
    top: 10px;
    font-size: 12px;
}
.field{
    position: relative;
    right: 70px;
    top:10px;
    margin: 13px 0;
}
.field>input,textarea{
    position: absolute; 
    left:150px;
}
.button{
    position: absolute;
    background-image: linear-gradient(
        #35b0e5,
        #2e6c98);
    
    font-weight: bold;
    bottom: 30px;
    left: 80px;
    width: 50px;
    height: 20px;
    border-top-right-radius: 3px 3px;
}
button{
    color: white;
    background-color:rgba(0, 0, 0, 0.0);
    border:0;
    position: relative;
    right: 3px;
    font-weight: bold;
    font-size: 14px;
    border-left: 1px solid white;
}
#misccol{
    position: absolute;
    width: 292px;
    top: 80px;
    left: 0;

}
.misc1{
    position: absolute;
    width:292px;
    height: 175px;
    background-image: linear-gradient(
        #ffffff,
        #ececec);
        font-size: 12px;
        border: 1px solid grey;
        border-top-right-radius: 30px 30px; 
}
.formheader4{
    border-top: 1px solid grey;
    font-weight: bold;
    color: grey;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 30px;
}
.formheader5{
    color: grey;
    width: 200px;
    margin-right: 20px;
    
}
.misc2{
    position: absolute;
    width:292px;
    height: 175px;
    top: 200px;
    background-image: linear-gradient(
        #ffffff,
        #ececec);
        font-size: 12px;
        border: 1px solid grey;
        border-top-right-radius: 30px 30px; 
}
p.formheader6{
    font-weight: bold;
    color: grey;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 30px;
}
a.link1{
    color:blue;
    margin-right: 20px;
}
.formheader7{
    color: black;
    position: relative;
    /* padding-bottom: 30px; */
    bottom: 20px;
}
.formheader8{
    color: black;
    position: relative;
    /* padding-bottom: 30px; */
    /* bottom: 20px; */
}