*{
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    box-sizing:border-box;
}
header{
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: grey;
}
div.middle{
    margin: auto;
    position: relative;
    /* background-color: lightgrey; */
    text-align: center;
    
}
div.img{
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 5px;
    /* background-color: blueviolet; */

}
img.top{
    
    border-bottom-right-radius: 30px 30px;
    height: 355px;
    width: 293;
}
div.inside{
    position:absolute;
    background-color: rgba(150,150,150,0.8);
    border-bottom-right-radius: 30px 30px;
    left: 38px;
    bottom: 16px;
    width: 248px;
    height: 97px;
    padding: 10px;
    color:#fff;
    text-align: right;
    font-weight: bold;
}
h3{
    font-size: 14px;
    padding-block-start: 0;
    margin: 0;
    opacity: 1;
}
p{
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    opacity: 1;
     
}
