*{
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    box-sizing:border-box;
}
body{
    position: relative;
    margin: 0;
}
header{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: white;
    height: 105px;
    background-image: linear-gradient(
      #909090,
      #909090 80%,
      #aaaaaa );
     
      
}
.header{
    width: 900px;
    margin: auto;
    text-align: left;
   
}
.header p{
    display:inline-block;
    position: relative;
    top:10px;
}
.header p>img{
    position: relative;
    top:5px;
}
input{
    font-size: 13.3px;
}
.menu{
    position: absolute;
    bottom: 0px;
    
}
#logo{
    position: absolute;
    right: -20px;
    bottom: -20px;
}
ul{
    margin-right: 0;
    padding-right: 130px;
    list-style: none;
    
    /* text-align: center; */
    
}
li{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;    
    padding:7.5px;
}
li>a{
    text-decoration:none;
}
li>a>img{
   background-color: navy;
}
li>img{
    position: relative;
    top:10px;
}
main{
    margin-top: 20px;
    height: 670px;
    
}
div.footer{
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(
        #aaaaaa ,
        #909090 ,
        #909090 80%); 
        height: 38px;
        width: 100%;
}
div.row{
    margin: auto;
    position: relative;
    text-align: center;
    
}
div.img{
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 5px;
    /* background-color: blueviolet; */

}
div.img2{
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 5px;
    /* width: 292px; */
    /* background-color: blueviolet; */

}
img.top{
    
    border-bottom-right-radius: 30px 30px;
    height: 355px;
    width: 293px;
}
img.bottom{
    
    width: 293px;
    height: 216px;
}
div.inside{
    position:absolute;
    background-color: rgba(150,150,150,0.8);
    border-bottom-right-radius: 30px 30px;
    left: 38px;
    bottom: 16px;
    width: 248px;
    height: 97px;
    padding: 10px;
    color:#fff;
    text-align: right;
    font-weight: bold;
}
h3{
    font-size: 14px;
    padding-block-start: 0;
    margin: 0;
    opacity: 1;
}
p{
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    opacity: 1;
     
}
div.link{
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
    left: 6px;
    bottom: 3px;
}
a>img{
    /* filter: invert(100%); */
}
a{
    color:white;

}
